### 2.Natural Language to SQL

* OpenAI use Cases - completion API, can be used for text / story completion, and code completion

In [59]:
import os
import pandas as pd
import openai
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text

In [60]:
# Import and pass api key
with open(r'C:\Users\mhuh22\Desktop\openai_api.txt', 'r') as file:
    api_key = file.readline().strip()
os.environ['OPENAI_API_KEY'] = api_key
openai.api_key = os.getenv('OPENAI_API_KEY')

In [61]:
df = pd.read_csv(r'C:\Users\mhuh22\Documents\Python\Kaggle\Data\lending_club_loan_two\lending_club_loan_two.csv')
df.head(3)

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,...,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\r\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,...,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113"
2,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057.0,...,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113"

In [34]:
# Create a sql engine, and push df to sql table in memory
temp_db = create_engine('sqlite:///:memory:',echo=True)

data = df.to_sql(name='Sales',con=temp_db)

2023-03-30 18:31:49,683 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2023-03-30 18:31:49,685 INFO sqlalchemy.engine.base.Engine ()
2023-03-30 18:31:49,687 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2023-03-30 18:31:49,689 INFO sqlalchemy.engine.base.Engine ()
2023-03-30 18:31:49,692 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Sales")
2023-03-30 18:31:49,693 INFO sqlalchemy.engine.base.Engine ()
2023-03-30 18:31:49,699 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	loan_amnt FLOAT,
	term TEXT,
	int_rate FLOAT,
	installment FLOAT,
	grade TEXT,
	sub_grade TEXT,
	emp_title TEXT,
	emp_length TEXT,
	home_ownership TEXT,
	annual_inc FLOAT,
	verification_status TEXT,
	issue_d TEXT,
	loan_status TEXT,
	purpose TEXT,
	title TEXT,
	dti FLOAT,
	earliest_cr_line TEXT,
	open_acc FLOAT,
	pub_rec FLOAT,
	revol_bal FLOAT,
	revol_util FLOAT,
	total_acc FLOAT,
	initial_list_status TEXT,
	application_type TEXT,
	mort_acc FLOAT,
	pub_rec_bankruptcies FLOAT,
	address TEXT
)


2023-03-30 18:31:49,700 INFO sqlalchemy.engine.base.Engine ()
2023-03-30 18:31:49,702 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-30 18:31:49,703 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-03-30 18:31:49,704 INFO sqlalchemy.engine.base.Engine ()
2023-03-30 18:31:49,706 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-30 18:31:51,016 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2023-03-30 18:32:16,124 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sales" ("index", loan_amnt, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, application_type, mort_acc, pub_rec_bankruptcies, address) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-03-30 18:32:16,126 INFO sqlalchemy.engine.base.Engine ((0, 10000.0, ' 36 months', 11.44, 329.48, 'B', 'B4', 'Marketing', '10+ years', 'RENT', 117000.0, 'Not Verified', 'Jan-2015', 'Fully Paid', 'vacation', 'Vacation', 26.24, 'Jun-1990', 16.0, 0.0, 36369.0, 41.8, 25.0, 'w', 'INDIVIDUAL', 0.0, 0.0, '0174 Michelle Gateway\r\nMendozaberg, OK 22690'), (1, 8000.0, ' 36 months', 11.99, 265.68, 'B', 'B5', 'Credit analyst ', '4 years', 'MORTGAGE', 65000.0, 'Not Verified', 'Jan-2015', 'Fully Paid', 'debt_consolidation', 'Debt consolidation', 22.05, 'Jul-2004', 17.0, 0.0, 20131.0, 53.3, 27.0, 'f', 'INDIVIDUAL', 3.0, 0.0, '1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113'), (2, 15600.0, ' 36 months', 10.49, 506.97, 'B', 'B3', 'Statistician', '< 1 year', 'RENT', 43057.0, 'Source Verified', 'Jan-2015', 'Fully Paid', 'credit_card', 'Credit card refinancing', 12.79, 'Aug-2007', 13.0, 0.0, 11987.0, 92.2, 26.0, 'f', 'INDIVIDUAL', 0.0, 0.0, '87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113'), (3, 7200.0, ' 36 months', 6.49, 220.65, 'A', 'A2', 'Client Advocate', '6 years', 'RENT', 54000.0, 'Not Verified', 'Nov-2014', 'Fully Paid', 'credit_card', 'Credit card refinancing', 2.6, 'Sep-2006', 6.0, 0.0, 5472.0, 21.5, 13.0, 'f', 'INDIVIDUAL', 0.0, 0.0, '823 Reid Ford\r\nDelacruzside, MA 00813'), (4, 24375.0, ' 60 months', 17.27, 609.33, 'C', 'C5', 'Destiny Management Inc.', '9 years', 'MORTGAGE', 55000.0, 'Verified', 'Apr-2013', 'Charged Off', 'credit_card', 'Credit Card Refinance', 33.95, 'Mar-1999', 13.0, 0.0, 24584.0, 69.8, 43.0, 'f', 'INDIVIDUAL', 1.0, 0.0, '679 Luna Roads\r\nGreggshire, VA 11650'), (5, 20000.0, ' 36 months', 13.33, 677.07, 'C', 'C3', 'HR Specialist', '10+ years', 'MORTGAGE', 86788.0, 'Verified', 'Sep-2015', 'Fully Paid', 'debt_consolidation', 'Debt consolidation', 16.31, 'Jan-2005', 8.0, 0.0, 25757.0, 100.6, 23.0, 'f', 'INDIVIDUAL', 4.0, 0.0, '1726 Cooper Passage Suite 129\r\nNorth Deniseberg, DE 30723'), (6, 18000.0, ' 36 months', 5.32, 542.07, 'A', 'A1', 'Software Development Engineer', '2 years', 'MORTGAGE', 125000.0, 'Source Verified', 'Sep-2015', 'Fully Paid', 'home_improvement', 'Home improvement', 1.36, 'Aug-2005', 8.0, 0.0, 4178.0, 4.9, 25.0, 'f', 'INDIVIDUAL', 3.0, 0.0, '1008 Erika Vista Suite 748\r\nEast Stephanie, TX 22690'), (7, 13000.0, ' 36 months', 11.14, 426.47, 'B', 'B2', 'Office Depot', '10+ years', 'RENT', 46000.0, 'Not Verified', 'Sep-2012', 'Fully Paid', 'credit_card', 'No More Credit Cards', 26.87, 'Sep-1994', 11.0, 0.0, 13425.0, 64.5, 15.0, 'f', 'INDIVIDUAL', 0.0, 0.0, 'USCGC Nunez\r\nFPO AE 30723')  ... displaying 10 of 396030 total bound parameter sets ...  (396028, 21000.0, ' 60 months', 15.31, 503.02, 'C', 'C2', 'Gracon Services, Inc', '10+ years', 'MORTGAGE', 64000.0, 'Verified', 'Aug-2012', 'Fully Paid', 'debt_consolidation', 'Loanforpayoff', 15.88, 'Nov-1990', 9.0, 0.0, 15704.0, 53.8, 20.0, 'f', 'INDIVIDUAL', 5.0, 0.0, '7843 Blake Freeway Apt. 229\r\nNew Michael, FL 29597'), (396029, 2000.0, ' 36 months', 13.61, 67.98, 'C', 'C2', 'Internal Revenue Service', '10+ years', 'RENT', 42996.0, 'Verified', 'Jun-2010', 'Fully Paid', 'debt_consolidation', 'Toxic Debt Payoff', 8.32, 'Sep-1998', 3.0, 0.0, 4292.0, 91.3, 19.0, 'f', 'INDIVIDUAL', None, 0.0, '787 Michelle Causeway\r\nBriannaton, AR 48052'))
2023-03-30 18:32:22,135 INFO sqlalchemy.engine.base.Engine COMMIT
2023-03-30 18:32:22,296 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-03-30 18:32:22,297 INFO sqlalchemy.engine.base.Engine ()

In [44]:
with temp_db.connect() as conn:
    # Makes the connectin
    result = conn.execute(text("SELECT AVG(loan_amnt) FROM Sales"))

2023-03-30 18:39:51,350 INFO sqlalchemy.engine.base.Engine SELECT AVG(loan_amnt) FROM Sales
2023-03-30 18:39:51,352 INFO sqlalchemy.engine.base.Engine ()

In [46]:
result.fetchall()

[(14113.888089286165,)]

In [47]:
def create_table_definition(df):
    prompt = """### sqlite SQL table, with it properties
    #
    # Sales({})
    #
    """.format(",".join(str(col) for col in df.columns))
    
    return prompt

In [51]:
create_table_definition(df)

'### sqlite SQL table, with it properties\n    #\n    # Sales(loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address)\n    #\n    '

In [52]:
def prompt_input():
    nlp_text = input("Enter the info you want: ")
    return nlp_text

In [73]:
prompt_input()

Enter the info you want: average loan amount by term

'average loan amount by term'

In [77]:
def combine_prompts(df, query_prompt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition + query_init_string

In [86]:
nlp_text = prompt_input()
combine_prompts(df,nlp_text)

Enter the info you want: average loan amount by term

'### sqlite SQL table, with it properties\n    #\n    # Sales(loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address)\n    #\n    ### A query to answer: average loan amount by term\nSELECT'

In [87]:
prompt = combine_prompts(df,nlp_text)

In [88]:
print(prompt)

### sqlite SQL table, with it properties
    #
    # Sales(loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address)
    #
    ### A query to answer: average loan amount by term
SELECT

In [89]:
response = openai.Completion.create(
    model = 'text-davinci-003',
    prompt = combine_prompts(df,nlp_text),
    temperature = 0,
    max_tokens = 150,
    top_p = 1.0,
    frequency_penalty = 0,
    presence_penalty = 0,
    stop = ['#',';']
)

In [90]:
response

<OpenAIObject text_completion id=cmpl-6zwvbraVt57eGTKnBTqVeieAqd56p at 0x162a6385c50> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": " AVG(loan_amnt)\nFROM Sales\nGROUP BY term"
    }
  ],
  "created": 1680222547,
  "id": "cmpl-6zwvbraVt57eGTKnBTqVeieAqd56p",
  "model": "text-davinci-003",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 16,
    "prompt_tokens": 148,
    "total_tokens": 164
  }
}

In [91]:
response['choices'][0]['text']

' AVG(loan_amnt)\nFROM Sales\nGROUP BY term'

In [92]:
def handle_response(response):
    query = response['choices'][0]['text']
    if query.startswith(" "):
        query = "SELECT" + query
    return query

In [93]:
print(handle_response(response))

SELECT AVG(loan_amnt)
FROM Sales
GROUP BY term